<div class="input-group mb-3">
  <!--
    Text Input
      1. allow user to enter new Todo.
      2. while user entering new text "newTodo" prop will updated by [(ngModel)].
      3. while "newTodo" prop is changed programatically,   Text Input will updated.
  -->
  <input #newTodoInput [(ngModel)]="newTodo"
        (keyup.enter)="addButtonClick()"
        type="text" class="form-control"
        placeholder="New Todo Item">
  <!--
    Add Button
      4. if user click on Add Button, call addButtonClick() function
   -->
  <button (click)="addButtonClick()" class="btn btn-outline-secondary" type="button" id="button-addon2">
   Add
  </button>
</div>
